
#product-overview{
    background:url("images/freedom.jpg");
    width: 100%;
    height: 528px;
    color:white;
    font-family: anton;
}
.section-title{
    color: #2ddf5c;
    text-align:center;
    padding:16px;
}
#plans{
    margin:16px 0px;
}
.plan{
    background:#d5ffdc;
    text-align: center;
    padding: 16px;
    margin:8px;
    width: 30%;
    display: inline-block;
    vertical-align:middle;
}
.plans__highlited{
    background-color:#19b84c;
    color:white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.plans__anotations{
    background-color: white;
    color:#19b84c;
    padding: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 8px;
    margin:16px 0px;
}
.plan-title , .plan-price , .plan-target,.choose-plan__btn{
    margin:16px 0px;
}
.plans__feature_items{
    margin:8px 0px;
}
.choose-plan__btn{
    color: white;
    background-color: #152218;
    padding:8px 16px;
    border: none;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
}
.choose-plan__btn:hover{
    background-color:white;
    color:#0e4f1f;
}
#key-features{
    background-color: #ff1b68;
    margin-top:80px;
    padding:16px;
}
#key-features > .section-title {
    color: white;
    margin: 32px;
}
.key-feature__list{
    list-style: none;
    text-align: center;
}
.key-feature-items{
    display: inline-block;
    width: 30%;
    vertical-align:top;
}
.key-feature__img{
    
    width: 128px;
    height: 128px;
    border:2px solid #424242;
    border-radius:50%;
    background-color: white;
    margin:16px auto;

}
.key-feature__description{
    text-align: center;
    font-weight: bold;
    color: white;
    font-size:20px;
}

.plans__list{
    width: 80%;
    margin:auto;
    text-align: center;
}